.page {
    margin: 91.33px 0;
}

.card-pet {
    background: no-repeat top center;
    background-size: cover;
    height: 384px;
}

.btn-like {
    top: 0;
    right: 0;
    border-radius: 0 1rem 0 1rem !important;
}

.text-shadow-1 {
    text-shadow: 2px 5px 5px #000000aa;
}

.form-signin {
    max-width: 330px;
}

    .form-signin .form-floating input {
        border-radius: 0;
    }

    .form-signin .form-floating:first-of-type input {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .form-signin .form-floating:nth-of-type(2) input {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    .form-signin .field-validation-error{
        margin-top:1rem;
    }
    #comments {
        max-height: 384px;
    }

.table > tbody > tr img {
    width: 200px;
}

.table > tbody > tr:nth-of-type(odd) {
    background: var(--mdb-gray-100);
}

    .table > tbody > tr:nth-of-type(odd) > *:first-child {
    }


.e404 {
    min-height: calc(100vh - 91.33px);
    padding-bottom: 91.33px;
}

    .e404 .display-1 {
        font-size: 10em;
    }

@media (max-width: 991.98px) {
    .table > tbody > tr {
        box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
        background: #fff !important;
    }


        .table > tbody > tr > td.order-1 {
            font-size: 3em;
            text-align: center;
            font-weight: 700;
        }

        .table > tbody > tr > td .d-none {
            display: inline-block !important;
        }

        .table > tbody > tr > td img {
            width: 100%;
            margin-bottom: 1rem;
        }
}
