.btn {
    --bs-btn-border-radius: 1000px;
}

.form-select {
    border-radius: 1000px;
}

.page {
    margin-top: 91.33px;
}

.card-pet {
    background: no-repeat top center;
    background-size: cover;
    height: 384px;
}

.btn-like {
    top: 0;
    right: 0;
    border-radius: 0 1rem 0 1rem !important;
}

.text-shadow-1 {
    text-shadow: 2px 5px 5px #000000aa;
}

.form-signin {
    max-width: 330px;
}

    .form-signin .form-floating input {
        border-radius: 0;
    }

    .form-signin .form-floating:first-of-type input {
        border-top-left-radius: .375rem;
        border-top-right-radius: .375rem;
    }

    .form-signin .form-floating:last-of-type input {
        border-bottom-left-radius: .375rem;
        border-bottom-right-radius: .375rem;
    }

#comments {
    max-height: 384px;
}

.table > tbody > tr:nth-of-type(odd) {
    background: var(--bs-light);
}

    .table > tbody > tr:nth-of-type(odd) > * {
        padding: .75rem;
    }

.e404 {
    min-height: calc(100vh - 91.33px);
    padding-bottom: 91.33px;
}

    .e404 .display-1 {
        font-size: 10em;
    }
