@model IEnumerable<PetShopWebApp.Models.Pet>

@{
	ViewBag.Title = "Categories - Pet Shop";
	ViewBag.Page = "Category";
}

<h1 class="py-5 text-center fw-bold">Let's meet our's Pets!</h1>
<div class="container">
	<form method="get" asp-action="Category" class="text-center mb-4">
		<partial name="_SelectCategoryPartial" model="(IEnumerable<PetShopWebApp.Models.Category>)@ViewBag.CategoryList" />
	</form>
	<partial name="_PetListPartial" model="@Model" />
</div>