@{
	ViewBag.Title = "Error 404 - Pet Shop";
	ViewBag.Page = "Home";
}

<div class="d-flex justify-content-center align-items-center e404">
	<div>
		<h1 class="display-1">404</h1>
		<h2>
			Oops! This Page Could Not Be Found
		</h2>
		<p class="my-3">
			SORRY BUT THE PAGE YOU ARE LOOKING FOR DOES NOT EXIST, HAVE BEEN REMOVED.
			<br />
			NAME CHANGED OR IS TEMPORARILY UNAVAILABLE
		</p>
		<div class="text-end">
			<a asp-controller="Home" asp-action="Index" class="btn btn-primary px-3">
				Home Page
				<i class="fa-solid fa-house ms-1"></i>
			</a>
		</div>
	</div>
</div>