@model IEnumerable<PetShopWebApp.Models.Pet>

@{
	ViewBag.Title = "Manager - Pet Shop";
	ViewBag.Page = "Manager";
}

<h1 class="py-5 text-center fw-bold">Manager - Pet Shop</h1>
<div class="container">
	<div class="d-flex mb-4">
		<form method="get" asp-action="index" class="col">
			<partial name="_SelectCategoryPartial" />
		</form>
		<a asp-action="AddPet" class="btn btn-primary btn-rounded col-auto ms-3">
			Add New Pet <i class="fa-solid fa-plus ms-1"></i>
		</a>
	</div>
	<partial name="_PetListPartial" model="@Model" view-data="@(new ViewDataDictionary(ViewData){{ "isAdmin", true }})" />
</div>