@*@model PetShopWebApp.Models.User*@

@{
	ViewBag.Title = "Admin - Pet Shop";
}

@section navbar{
    <li class="nav-item">
        <a asp-controller="Home" asp-action="Index" class="nav-link ">Home</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Home" asp-action="Category" class="nav-link">Category</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Admin" asp-action="Index" class="nav-link active">Login</a>
    </li>
}


