@*@model PetShopWebApp.Models.User*@

@{
	ViewBag.Title = "Login - Pet Shop";
	ViewBag.Page = "Admin";
}

	<div class="form-signin text-center w-100 mx-auto py-5">
		<form method="post">
			<img class="d-block mx-auto" src="~/logo_original.png" alt="" width="256">
			<h1 class="h3 mb-4 fw-normal">Please login</h1>
			<div class="form-floating">
				<input name="UserName" class="form-control" id="username" placeholder="Username" >
				<label for="username">Username</label>
			</div>
			<div class="form-floating">
				<input name="Password" type="password" class="form-control" id="password" placeholder="Password">
				<label for="password">Password</label>
			</div>
			<button class="w-100 btn btn-lg btn-primary mt-4" type="submit">Login</button>
		</form>
	</div>
